---
import { dataDescription } from "../../../data/dataDescription";

const { about } = dataDescription;
const { content } = about;
---

<section id="Sobre-nosotros">
  <header>
    <h3>Sobre Nosotros</h3>
  </header>
  {
    content?.map((article) => {
      return (
        <article>
          <div class="content">
            {article.titleActive && <h4>{article.title}</h4>}
            <div class="p-content">
              {article.description?.map((parrafo) => {
                return <p>{parrafo}</p>;
              })}
            </div>
          </div>

          <img src={article.image} alt={`imágen sobre ${article.title}`} />
        </article>
      );
    })
  }
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding-inline: var(--paddingsection-inline);
  }

  h3 {
    font-size: var(--subtitlesection);
    padding: var(--paddingsubtilteSection);
    border-bottom: 1px solid black;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
  }
  article h4 {
    text-align: start;
    width: 100%;
    font-size: 1.1em;
  }

  article p {
    text-wrap: pretty;
  }
  img {
    width: 100%;
  }

  @media (width >= 700px) {
    section {
      width: 60%;
      margin: auto;
    }

    h3 {
      font-size: var(--subtitlesection-desk);
      padding: var(--paddingsubtilteSection-desk);
      border-bottom: 1px solid black;
    }

    article {
      display: grid;
      grid-template-columns: 40% 1fr;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .content h4 {
      font-size: 1.5em;
    }

    .content p {
      font-size: 1.2em;
    }
  }
</style>
