---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Header from "../components/React/header";
import Footer from "../components/Astro/sections/Footer.astro";
import { src } from "../data/mapaFooter";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <Header
      about={"/#Sobre-nosotros"}
      contact={"/#Contacto"}
      home={"/"}
      notices={"/Noticias"}
      lastNotices={"/#Ultimas-noticias"}
      testimonios={"/#Testimonios"}
      equipo={"/#Equipo"}
      areasLaborales={"/#Areas-laborales"}
      client:load
    />
    <slot />
    <Footer srcMaps={src} />
  </body>
</html>
